<template>
  <div class="menu-bar">
    <img alt="Vue logo" src="../../assets/logo.png" @click="setHomePage">
    <h1 @click="setHomePage">Mon Site d'Annonces</h1>
    <div class="user-info" v-if="auth">
      <button @click="setCreateAnnonce">Créer annonce</button>
      <span>{{ userName }}</span>
    </div>
    <div class="auth-buttons" v-else>
      <button @click="setLogin">Login</button>
      <button @click="setRegister">Register</button>
    </div>
  </div>
</template>

<script>
import Cookies from 'js-cookie'

export default {
  name: 'MenuBar',
  props: {
    auth: Boolean
  },
  data() {
    return {
      userName: ''
    };
  },
  watch: {
    auth(newVal) {
      if (newVal) {
        this.fetchUserName();
      }
    }
  },
  mounted() {
    if (this.auth) {
      this.fetchUserName();
    }
  },
  methods: {
    setLogin() {
      this.$emit('set-page', 'login');
    },
    setRegister() {
      this.$emit('set-page', 'register');
    },
    setHomePage() {
      this.$emit('set-page', 'annonces');
    },
    setCreateAnnonce() {
      this.$emit('set-page', 'crannonce');
    },
    fetchUserName() {
      const token = Cookies.get('authToken');
      if (token) {
        this.userName = token;
        console.log(this.userName);
      }
    }
  }
}
</script>

<style>
.menu-bar {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
}

.menu-bar img {
  height: 40px;
  margin-right: 10px;
}

.user-info {
  margin-left: auto;
  padding-right: 10px;
}

.auth-buttons {
  margin-left: auto;
  padding-right: 10px;
}

.auth-buttons button,
.user-info button {
  margin: 0 5px;
}
</style>
