<template>
  <div>
    <h1>Liste des annonces</h1>
    <ul>
      <li v-for="avion in avions" :key="avion.id" @click="afficherDetails(avion)">
        <h2>{{ avion.manufacturer }} {{ avion.model }}</h2>
        <p>Année: {{ avion.year }}</p>
        <p>Prix: {{ avion.price }} €</p>
        <p>Condition: {{ avion.condition }}</p>
      </li>
    </ul>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  name: 'ListeAnnonces',

  data() {
    return {
      avions: []
    };
  },

  created() {
    this.fetchAvions();
  },

  methods: {
    fetchAvions() {
      axios.get('http://localhost:5000/annonces')
        .then(response => {
          this.avions = response.data.map(avion => ({
            id: avion[0],
            user_id: avion[1],
            price: parseFloat(avion[2]).toFixed(2),
            year: avion[3],
            manufacturer: avion[4],
            model: avion[5],
            registartion: avion[6],
            serial_number: avion[7],
            condition: avion[8],
            seats: avion[9],
            description: avion[10],
            created_at: avion[11]
          }));
        })
        .catch(error => {
          console.error("Il y a eu une erreur!", error);
        });
    },

    afficherDetails(avion) {
      this.$emit('annonce-click', avion);
    }
  }
}
</script>