<template>
  <div>
    <h2>Créer une annonce</h2>
    <form @submit.prevent="submitAnnonce">
      <div>
        <label>Price</label>
        <input type="number" v-model="annonce.price" step="0.01" required>
      </div>
      <div>
        <label>Year</label>
        <input type="number" v-model="annonce.year" required>
      </div>
      <div>
        <label>Manufacturer</label>
        <input type="text" v-model="annonce.manufacturer" required>
      </div>
      <div>
        <label>Model</label>
        <input type="text" v-model="annonce.model" required>
      </div>
      <div>
        <label>Registration</label>
        <input type="text" v-model="annonce.registration" required>
      </div>
      <div>
        <label>Serial Number</label>
        <input type="text" v-model="annonce.serial_number" required>
      </div>
      <div>
        <label>Condition</label>
        <input type="text" v-model="annonce.condition" required>
      </div>
      <div>
        <label>Seats</label>
        <input type="number" v-model="annonce.seats" required>
      </div>
      <div>
        <label>Description</label>
        <textarea v-model="annonce.description" required></textarea>
      </div>
      <button type="submit">Submit</button>
    </form>
  </div>
</template>

<script>
import axios from 'axios';
import Cookies from 'js-cookie';

export default {
  name: 'CreateAnnonce',
  data() {
    return {
      annonce: {
        price: 0,
        year: 0,
        manufacturer: '',
        model: '',
        registration: '',
        serial_number: '',
        condition: '',
        seats: 0,
        description: ''
      }
    };
  },
  methods: {
    async submitAnnonce() {
      try {
        const token = Cookies.get('authToken');
        console.log({
          ...this.annonce,
          token: token
        });
        const response = await axios.post('http://localhost:5000/create_annonce', {
          ...this.annonce,
          token: token
        });
        console.log(response.data);
        alert("Annonce créée avec succès")
        this.$emit('annonce-created');
      } catch (error) {
        console.error('Error creating annonce:', error);
      }
    }
  }
};
</script>

<style>
form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

div {
  margin-bottom: 10px;
}

button {
  margin-top: 10px;
}
</style>
