<template>
  <div>
    <h1>Détails de l'annonce</h1>
    <p><strong>Fabricant:</strong> {{ avion.manufacturer }}</p>
    <p><strong>Modèle:</strong> {{ avion.model }}</p>
    <p><strong>Année:</strong> {{ avion.year }}</p>
    <p><strong>Prix:</strong> {{ avion.price }} €</p>
    <p><strong>Condition:</strong> {{ avion.condition }}</p>
    <p><strong>Numéro de série:</strong> {{ avion.serial_number }}</p>
    <p><strong>Immatriculation:</strong> {{ avion.registartion }}</p>
    <p><strong>Nombre de sièges:</strong> {{ avion.seats }}</p>
    <p><strong>Description:</strong> {{ avion.description }}</p>
    <p><strong>Date de création:</strong> {{ avion.created_at }}</p>
    <p><strong>Contact Propriétaire:</strong> {{ ownerContact.name }} ({{ ownerContact.email }})</p>
    <button @click="retournerListe">Retour à la liste des annonces</button>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  name: 'FicheAnnonce',
  props: {
    avion: Object
  },
  data() {
    return {
      ownerContact: {
        name: '',
        email: ''
      }
    };
  },
  methods: {
    retournerListe() {
      this.$emit('retour-click');
    },
    async getOwnerContact() {
      try {
        const response = await axios.get(`http://localhost:5000/user/${this.avion.user_id}`);
        this.ownerContact['name'] = response.data[0];
        this.ownerContact['email'] = response.data[1];
        console.log(this.ownerContact)
      } catch (error) {
        console.error('Erreur lors de la récupération des informations de contact du propriétaire :', error);
      }
    }
  },
  mounted() {
    this.getOwnerContact();
  }
}
</script>

<style scoped>
/* Vos styles CSS spécifiques au composant */
</style>
