<template>
  <div>
    <h2>Login</h2>
    <form @submit.prevent="login">
      <div>
        <label>Username</label>
        <input type="text" v-model="username" required>
      </div>
      <div>
        <label>Password</label>
        <input type="password" v-model="password" required>
      </div>
      <button type="submit">Login</button>
    </form>
    <p v-if="errorMessage" class="error">{{ errorMessage }}</p>
  </div>
</template>

<script>
import axios from 'axios'
import Cookies from 'js-cookie'

export default {
  name: 'LoginPage',
  data() {
    return {
      username: '',
      password: '',
      errorMessage: ''
    }
  },
  methods: {
    login() {
      axios.post('http://localhost:5000/login', {
        username: this.username,
        password: this.password
      })
        .then(response => {
          const user = response.data
          Cookies.set('authToken', user.token, { expires: 7 }) // Set token cookie
          this.$emit('login-success')
        })
        .catch(error => {
          this.errorMessage = 'Invalid username or password'
          console.error("There was an error during the login process!", error)
        })
    }
  }
}
</script>

<style>
.error {
  color: red;
}
</style>
