<template>
  <div>
    <h2>Inscription</h2>
    <form @submit.prevent="register">
      <div>
        <label for="username">Nom d'utilisateur:</label>
        <input type="text" id="username" v-model="username" required>
      </div>
      <div>
        <label for="email">Email:</label>
        <input type="email" id="email" v-model="email" required>
      </div>
      <div>
        <label for="password">Mot de passe:</label>
        <input type="password" id="password" v-model="password" required>
      </div>
      <button type="submit">S'inscrire</button>
    </form>
  </div>
</template>

<script>
import axios from 'axios';
import Cookies from 'js-cookie'

export default {
  name: 'RegisterPage',
  data() {
    return {
      username: '',
      email: '',
      password: ''
    };
  },
  methods: {
    register() {
      axios.post('http://localhost:5000/register', {
        username: this.username,
        email: this.email,
        password: this.password
      })
        .then(() => {
          Cookies.set('authToken', this.username, { expires: 7 }) // Set token cookie
          this.$emit('register-success')
        })
        .catch(error => {
          // Afficher un message d'erreur en cas d'échec de l'inscription
          console.error(error);
          alert("Erreur lors de l'inscription. Veuillez réessayer.");
        });
    }
  }
}
</script>

<style>
/* Vos styles CSS ici */
</style>
