<template>
  <div id="app">
    <MenuBar :auth="isAuthenticated" @set-page="setPage" />
    <div class="container">
      <div class="annonces" v-if="page === 'annonces'">
        <ListeAnnonces @annonce-click="afficherDetails" />
      </div>
      <div class="fiche-annonce" v-if="page === 'annonce'">
        <FicheAnnonce :avion="annonceSelectionnee" @retour-click="setPage('annonces')" />
      </div>
      <div class="crannonce" v-if="page === 'crannonce'">
        <CreateAnnonce v-if="isAuthenticated" @annonce-created="handleAnnonceCreated" />
      </div>
      <div class="login" v-if="page === 'login'">
        <LoginPage @login-success="handleLoginSuccess" />
      </div>
      <div class="register" v-if="page === 'register'">
        <RegisterPage @register-success="handleLoginSuccess" />
      </div>
    </div>
  </div>
</template>

<script>
import ListeAnnonces from './components/Dashboard/Annonces.vue';
import FicheAnnonce from './components/Dashboard/FicheAnnonce.vue';
import MenuBar from './components/Shared/MenuBar.vue';
import CreateAnnonce from './components/Dashboard/CreateAnnonce.vue';
import LoginPage from './components/Auth/Login.vue';
import RegisterPage from './components/Auth/Register.vue';
import Cookies from 'js-cookie';

export default {
  name: 'App',
  components: {
    ListeAnnonces,
    FicheAnnonce,
    MenuBar,
    CreateAnnonce,
    LoginPage,
    RegisterPage
  },
  data() {
    return {
      annonceSelectionnee: null,
      isAuthenticated: false,
      page: 'annonces'
    };
  },
  created() {
    this.checkAuthentication();
  },
  methods: {
    afficherDetails(avion) {
      this.annonceSelectionnee = avion;
      this.page = 'annonce';
    },
    setPage(p) {
      this.page = p;
    },
    checkAuthentication() {
      const token = Cookies.get('authToken');
      if (token) {
        this.isAuthenticated = true;
      }
    },
    handleLoginSuccess() {
      this.isAuthenticated = true;
      this.page = 'annonces';
    },
    handleAnnonceCreated() {
      this.page = 'annonces';
    }
  }
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-bottom: 20px;
}

.annonces {
  width: 50%;
}

.fiche-annonce {
  width: 50%;
}
</style>
